.creater_panel {
  width: 100%;

  position: fixed;
  overflow: hidden;
  // transform: translate(0, -270%);
  top: 140px;
  &::after {
    content: '';
    width: auto 100%;
    height: auto 100%;
    background-color: #252b49cc;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    width: 100%;
    padding: 20px 50px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    z-index: 2;

    .creater_panel-name {
      color: coral;
      margin-bottom: 20px;
    }
    .creater_panel-close_btn {
      background-color: #fff;
      border: 0;
      color: coral;
      cursor: pointer;
    }
    .creater_panel-title {
      margin-bottom: 20px;
    }
    .creater_panel-description {
      margin-bottom: 20px;
    }
    input {
      padding: 5px 20px;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      margin-bottom: 30px;
      border: 1px solid rgb(203, 202, 202);
    }

    .creater_panel-description_input {
      height: 120px;
    }
    .creater_panel-btn {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
    .creater_panel-create_btn {
      height: 30px;
      width: 120px;
      border-radius: 20px;
      color: white;
      background-color: coral;
      border: 0;
      cursor: pointer;
    }
    .creater_panel-cancel_btn {
      height: 30px;
      width: 120px;
      border-radius: 20px;
      color: white;
      background-color: cornflowerblue;
      border: 0;
      margin-left: 40px;
      cursor: pointer;
    }
  }
}
.creater_panel.active {
  display: none;
}
