.navigation {
  padding: 40px 0 0 0;
  .navigation-title {
    width: 30%;

    border: 1px solid gray;
    border-radius: 10px;
    padding: 1.25em 0.9375em;
    // margin-top: 40px;

    h3 {
      margin-left: 40px;
    }
    .navigation-buttons {
      margin-right: 20px;

      .navigation-create_btn {
        border: 0;
        background-color: #fff;
        color: coral;
        cursor: pointer;
      }

      .navigation-remove_btn {
        margin-left: 20px;
        border: 0;
        background-color: #fff;
        color: gray;
        cursor: pointer;
      }
    }
    .navigation-inprogress-remove_btn,
    .navigation-done-remove_btn {
      border: 0;
      background-color: #fff;
      color: gray;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
