.tasks {
  padding: 1.25em 0 3.25em 0;
  z-index: 1;

  .wrap {
    align-items: flex-start;
  }

  .tasks-card,
  .inprogress-card,
  .done-card {
    width: 30%;

    &-counter {
      border: 1px solid fff(188, 188, 188);
      border-radius: 10px;
      padding: 0.625em 0.9375em;
      margin-bottom: 20px;
      text-transform: capitalize;
      box-shadow: 10px 5px 5px rgb(188, 188, 188, 0.45);

      span {
        text-transform: capitalize;
        margin-left: 40px;
      }
      &-out {
        margin-right: 20px;
      }
    }
    &-list {
      border: 1px solid rgb(188, 188, 188, 0.2);
      border-radius: 10px;
      padding: 1.25em 0.9375em;
      box-shadow: 10px 5px 5px rgb(188, 188, 188, 0.45);
      &-item {
        border: 1px solid rgb(188, 188, 188);
        border-radius: 10px;
        padding: 1.25em 0.9375em;
        background-color: #fff5ee;
        margin-bottom: 20px;
      }
      &-item:last-child {
        margin-bottom: 0;
      }

      &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -0.9375em;
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          display: block;
          border-bottom: 1px solid #000;
        }
      }
      &-logo {
        text-transform: capitalize;
        margin-left: 0.9375em;
        margin-bottom: 20px;
      }
      .current_data {
        margin-right: 20px;
        margin-bottom: 20px;
      }

      h2 {
        margin: 20px 0;
      }
      &-description {
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(93, 41, 41);
      }
      &-author {
        margin-left: 0.9375em;
        color: cornflowerblue;
      }
      &-buttons {
        margin-right: 20px;
        border: 0;
        &-inprogress_btn,
        &-inmake_btn,
        &-indone_btn {
          border: 0;
          background-color: #fff5ee;
          color: rgb(32, 161, 241);
          margin-left: 20px;
          cursor: pointer;
        }
        &-remove_btn {
          margin-left: 20px;
          border: 0;
          background-color: #fff5ee;
          color: coral;
          cursor: pointer;
        }
      }
    }
  }
}
